<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Delete Blog</title>

</head>
<body>
<h1>Delete Category</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/category">Category list</a>
</p>
<form th:action="@{/delete-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Category</td>
            <td th:text="${category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Category"></td>
        </tr>
    </table>
</form>


</body>
</html>